[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
empresa4 = "*"
window-ops = "*"
mlforecast = "*"
xgboost = "*"
lightgbm = "*"
seaborn = "*"
requests = "*"
umap-learn = "*"
scikit-optimize = "*"
dtaidistance = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
